@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root
{
  --main-font-family: "Raleway", sans-serif;
  --main-font-color: #515151;
  --main-font-color-dark: rgb(38, 38, 38);
  --secondary-font-color: #0065FC;
  --tertiary-font-color: #DEEBFF;
  --background-color: #F2F2F2;
  --h1-font-size: clamp(24px, 2.3vw, 24px);
  --h3-font-size: clamp(18px, 1.75vw, 19.2px);
}

html
{
  font-family: var(--main-font-family);
  font-size: 16px;
  color: var(--main-font-color);
  scroll-behavior: smooth;
}



/*---DESKTOP VIEW---*/


body
{
  overflow-x: hidden;
  background-color: #fff;
}

h1, h2
{
  font-size: var(--h1-font-size);
  color: var(--main-font-color-dark);
}

h3
{
  font-size: var(--h3-font-size);
  color: var(--main-font-color-dark);
}

/*HEADER*/

.main-header
{
  display: flex;
  justify-content: space-between;
  height: 112px;
  padding: 0 48px;
}

.main-header img
{
  align-self: center;
  cursor: pointer;
  height: 64px;
}

nav
{
  display: flex;
  width: 300px;
}

nav ul
{
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

nav ul li
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 600;
}

nav ul li a
{
  color: var(--main-font-color);
}

nav ul li a:hover
{
  color: var(--secondary-font-color);
}

nav ul li a::before
{
  display: none;
  content: "";
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: var(--background-color);
}

nav ul li a::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 2px;
  background-color: var(--secondary-font-color);
  opacity: 0;
  transition: opacity 0.3s;
}

nav ul li a:hover::after
{
  opacity: 1;
}

main
{
  padding: 0 48px;
}

/*SEARCH BAR*/

.section-search p
{
  margin-top: 8px;
}

.searchbar
{
  display: flex;
  width: 480px;
  margin: 24px 0;
  border-radius: 19.2px;
  border: 1px solid var(--background-color);
}

.searchbar .search-icon
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color-dark);
  flex: 1;
  font-size: 20px;
  padding: 12.8px 14.4px;
  border-radius: 19.2px 0 0 19.2px;
  cursor: pointer;
  background-color: var(--background-color);
}

.searchbar form
{
  display: flex;
  flex: 11;
}

.searchbar form input
{
  width: 100%;
  padding: 12.8px 14.4px;
  flex: 3.7;
  border: none;
  color: var(--main-font-color-dark);
  font-size: 20px;
  font-weight: 600;
  outline: none;
}

.searchbar form input::-moz-placeholder
{
  font-weight: 100;
}

.searchbar form input::placeholder
{
  font-weight: 100;
}

.searchbar .search-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  flex: 1;
  border-radius: 0 19.2px 19.2px 0;
  padding: 12.8px 14.4px;
  background: var(--secondary-font-color);
  cursor: pointer;
  font-size: 18px;
}

.searchbar .search-btn p
{
  margin: 0;
}

.searchbar .search-btn i
{
  display: none;
}

/*FILTERS*/

.section-filters
{
  display: flex;
  align-items: center;
  color: var(--main-font-color-dark);
}

.filters-list
{
  display: flex;
  list-style: none;
  gap: 24px;
  margin-left: 34px;
}

.filters-item
{
  position: relative;
  display: flex;
  align-items: center;
  border: 2.5px solid #e7e7e7;
  border-radius: 20px;
  cursor: pointer;
}

.filters-item:nth-child(1)
{
  order: 1;
}

.filters-item:nth-child(2)
{
  order: 2;
}

.filters-item:nth-child(3)
{
  order: 3;
}

.filters-item:nth-child(4)
{
  order: 4;
}

.filters-item:hover > div::after
{
  transform: translateX(-50%) scale(10);
}

.filters-item:hover > i
{
  background-color: #fff;
  border-color: #e7e7e7;
}

.filters-item i
{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: -10px;
  width: 44px;
  height: 44px;
  padding: 18.4px;
  background-color: var(--tertiary-font-color);
  border: 2.5px solid transparent;
  color: var(--secondary-font-color);
  border-radius: 100%;
  transition: background-color 0.2s linear;
}

.filters-item div
{
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 12px 0 44px;
  font-weight: 600;
  height: 40px;
  overflow: hidden;
  border-radius: 14px;
}

.filters-item div::after
{
  content: "";
  position: absolute;
  z-index: -1;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 50%;
  transform-origin: center;
  transform: translateX(20%) scale(0);
  background-color: var(--tertiary-font-color);
  transition: transform 0.2s linear;
}

/*INFO TEXT*/

.info
{
  display: flex;
  align-items: center;
  margin: 32px 0;
  gap: 16px;
}

.info i
{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 20px;
  color: var(--secondary-font-color);
  border: solid 1px #F2F2F2;
  min-width: 32px;
  min-height: 32px;
  border-radius: 100%;
}

/*ACCOMMODATIONS SECTION*/

#section-accommodations
{
  display: flex;
  width: 100%;
  height: auto;
  margin: 32px 0;
  gap: 48px;
  flex-wrap: wrap-reverse;
}

.accommodations-container
{
  flex: 2;
  background-color: #F2F2F2;
  border-radius: 24px;
  padding: 32px;
}

.accommodations-container header
{
  height: auto;
  padding: 0;
}

.accommodations-grid
{
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 2.1vw, 40px);
  margin: 24px 0 40px 0;
}

.accommodations-grid .row
{
  display: flex;
  gap: clamp(20px, 2.1vw, 40px);
}

.accommodations-grid .row a
{
  flex: 1;
  color: var(--main-font-color);
}

.grid-item
{
  min-width: 190px;
  height: 270px;
  background-color: #fff;
  border-radius: 24px;
  padding: 4.8px;
  box-shadow: 0 5px 20px 2px #e4e4e4;
}

.grid-item img
{
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60%;
  border-radius: 19.2px 19.2px 0 0;
}

.grid-item .details
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10px 5px;
  height: 40%;
}

.grid-item .details .price
{
  font-weight: 600;
  color: var(--main-font-color-dark);
}

.grid-item .details .ratings-container
{
  display: flex;
  bottom: 16px;
  list-style: none;
  color: #d8d8d8;
}

.grid-item .details .ratings-container li .filled
{
  color: var(--secondary-font-color);
}

#show-more a
{
  color: var(--main-font-color-dark);
}

.popular-container
{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #F2F2F2;
  border-radius: 24px;
  padding: 32px;
}

.popular-container .header-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.popular-container .header-container i
{
  font-size: 20px;
  color: var(--main-font-color-dark);
}

.popular-list
{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex: 1;
  gap: clamp(20px, 2.1vw, 40px);
  margin-top: 24px;
}

.popular-list .list-item
{
  flex: 1;
  min-width: 345px;
  max-width: 600px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 5px 20px 2px #e4e4e4;
  padding: 4.8px;
  overflow: hidden;
}

.popular-list .list-item a
{
  color: var(--main-font-color);
}

.popular-list .list-item a article
{
  height: 182px;
  display: flex;
  position: relative;
}

.popular-list .list-item a article img
{
  -o-object-fit: cover;
     object-fit: cover;
  width: 40%;
  border-radius: 19.2px 0 0 19.2px;
}

.popular-list .list-item a article .details
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 16px;
}

.popular-list .list-item a article .details .title h3
{
  margin-bottom: 8px;
}

.popular-list .list-item a article .details .title .price
{
  font-weight: 600;
  color: var(--main-font-color-dark);
}

.popular-list .list-item a article .details .ratings-container
{
  display: flex;
  list-style: none;
  color: #d8d8d8;
}

.popular-list .list-item a article .details .ratings-container li .filled
{
  color: var(--secondary-font-color);
}

/*ACTIVITIES SECTION*/

#section-activities
{
  margin-top: 64px;
}

#section-activities header
{
  height: auto;
  padding: 0;
}

.activities-container
{
  display: flex;
  gap: clamp(20px, 2.5vw, 48px);
  list-style: none;
  margin-top: 24px;
}

.activities-container .row
{
  flex: 1;
  display: flex;
  gap: clamp(20px, 2.5vw, 48px);
}

.activities-container .row .item-container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 560px;
}

.activities-container .row .item-container:nth-child(2), .activities-container .row .item-container:nth-child(4)
{
  gap: clamp(20px, 2.5vw, 48px);
}

.activities-container .row .item-container:nth-child(2) .small, .activities-container .row .item-container:nth-child(4) .small
{
  flex: 4;
}

.activities-container .row .item-container:nth-child(2) .large, .activities-container .row .item-container:nth-child(4) .large
{
  flex: 5;
}

.activities-container .row .item-container a
{
  color: var(--main-font-color);
  flex: 1;
}

.activities-container .row .item-container a .list-item
{
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 5px 20px 2px #e4e4e4;
  border-radius: 24px;
}

.activities-container .row .item-container a .list-item .image-container
{
  position: relative;
  flex: 1;
}

.activities-container .row .item-container a .list-item .image-container img
{
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px 24px 0 0;
}

.activities-container .row .item-container a .list-item figcaption
{
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 20px;
}

/*FOOTER*/

footer {
  display: flex;
  margin-top: 64px;
  padding: 48px;
  background-color: #F2F2F2;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  list-style: none;
}

footer ul h3 {
  margin-bottom: 8px;
}

footer ul li a
{
  color: var(--main-font-color);
}

/*---TABLET VIEW---*/


@media only screen and (max-width: 992px) {

  /*HEADER*/

  .main-header
  {
    padding: 0 20px;
  }
  
  nav
  {
    width: 250px;
  }

  nav ul
  {
    gap: 30px;
  }

  main
  {
    padding: 0 20px;
  }

  /*FILTERS*/

  .section-filters
  {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .filters-list
  {
    justify-content: flex-start;
    margin: 0;
    padding-left: 10px;
    flex-wrap: wrap;
  }

  /*ACTIVITIES SECTION*/

  .activities-container
  {
    flex-direction: column;
    gap: 20px;
  }

  /*FOOTER*/

  footer
  {
    padding: 48px 24px;
    gap: 15%;
  }
}



/*---MOBILE VIEW---*/


@media only screen and (max-width: 768px) {

  /*HEADER*/

  .main-header
  {
    height: auto;
    flex-direction: column;
    padding: 24px 0;
    gap: 36px;
    margin-bottom: 20px;
  }

  nav
  {
    width: 100%;
  }

  nav ul
  {
    gap: 0;
  }

  nav ul li
  {
    flex: 1;
  }

  nav ul li a::before
  {
    display: block;
  }

  nav ul li a::after
  {
    width: 100%;
    top: 32px;
    height: 3px;
  }

  main
  {
    padding: 0;
  }

  /*SEARCH BAR*/

  .section-search
  {
    padding: 0 20px;
  }

  .searchbar
  {
    border-radius: 16px;
    width: 100%;
    max-width: 373px;
    margin: 30px 0;
  }

  .searchbar .search-icon
  {
    padding: 16px 18px;
    border-radius: 16px 0 0 16px;
  }

  .searchbar form input
  {
    padding: 16px 18px;
  }

  .searchbar .search-btn
  {
    border-radius: 16px;
    flex: 0;
    padding: 16px 18px;
  }

  .searchbar .search-btn i
  {
    display: block;
  }

  .searchbar .search-btn p
  {
    display: none;
  }

  /*FILTERS*/

  .section-filters
  {
    padding: 0 20px;
  }

  .filters-item:nth-child(2)
  {
    order: 3;
  }

  .filters-item:nth-child(3)
  {
    order: 2;
  }


  /*INFO TEXT*/

  .info
  {
    padding: 0 20px;
  }

  .info i
  {
    font-size: 17px;
    min-width: 27.2px;
    min-height: 27.2px;
  }

  /*ACCOMMODATIONS SECTION*/

  #section-accommodations
  {
    flex-direction: column-reverse;
    gap: 0;
  }

  .accommodations-container
  {
    background-color: #fff;
    border-radius: 0;
    padding: 32px 20px;
  }

  .accommodations-grid .row
  {
    flex-direction: column;
  }

  .popular-container
  {
    border-radius: 0;
    padding: 32px 20px;
  }

  .popular-list .list-item
  {
    flex: none;
    width: 100%;
    min-width: 0;
  }

  .popular-list .list-item a article .details .title p
  {
    line-height: 22px;
  }

  /*ACTIVITIES SECTION*/

  #section-activities
  {
    padding: 0 20px;
    margin-top: 32px;
  }

  .activities-container .row
  {
    flex-direction: column;
    gap: 20px;
  }

  .activities-container .row .item-container
  {
    height: 250px;
  }

  .activities-container .row .item-container:nth-child(2), #section-activities .activities-container .row .item-container:nth-child(4)
  {
    height: 520px;
    gap: 20px;
  }

  .activities-container .row .item-container:nth-child(2) .small, #section-activities .activities-container .row .item-container:nth-child(2) .large, #section-activities .activities-container .row .item-container:nth-child(4) .small, #section-activities .activities-container .row .item-container:nth-child(4) .large
  {
    flex: 1;
  }

  /*FOOTER*/

  footer
  {
    flex-direction: column;
    gap: 40px;
  }
}

