@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root
{
    --main-font: "Source Sans Pro", sans-serif;
    --body-font: 'Open Sans', sans-serif;
    --main-font-color: #515151;
    --main-font-color-dark: rgb(38, 38, 38);
    --secondary-font-color: #0265FC;
    --h1-font-size: clamp(0.9rem, 2.3vw, 1.5rem);
    --h2-font-size: clamp(0.75rem, 1.75vw, 1.2rem);


}

html
{
    font-family: var(--body-font);
    font-size: 1.1rem;
    color: var(--main-font-color);
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
    background: #fff;
    padding:  0 3rem;

    header
    {
        display: flex;
        justify-content: space-between;
        height: 7rem;
        img
        {
            align-self: center;
            cursor: pointer;
            height: 4rem;
        }
        nav
        {
            display: flex;
            justify-content: space-between;
            width: 25%;
            ul
            {
                display: flex;
                justify-content: space-around;
                width: 100%;
                display: flex;
                list-style: none;
                li
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    font-weight: 600;
                    transition: color 0.3s;

                    &:hover
                    {
                        color: var(--secondary-font-color);
                    }

                    &::after
                    {
                        content: "";
                        position: absolute;
                        top: 0;
                        width: 120%;
                        height: 2px;
                        background-color: var(--secondary-font-color);
                    }
                }
            }
        }
    }

    main
    {
        h1
        {
            font-size: var(--h1-font-size);
            color: var(--main-font-color-dark);
        }
        h2
        {
            font-size: var(--h2-font-size);
        }
        .section_search
        {

            .searchbar
            {
                display: flex;
                width: 30rem;
                margin: 1.5rem 0;
                border-radius: 1.2rem;
                border: 1px solid #ddd;
                .search_icon
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--main-font-color-dark);
                    width: 15%;
                    padding: 0.8rem 0.9rem;
                    border-radius: 1.2rem 0 0 1.2rem;
                    background-color: #ddd;
                }
                
                input
                {
                    padding: 0.8rem 0.9rem;
                    width: 60%;
                    border: none;
                    color: var(--main-font-color-dark);
                    font-size: 1.25rem;
                    font-weight: 600;
                    outline: none;
                }

                .search_btn
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    width: 25%;
                    border-radius: 0 1.2rem 1.2rem 0;
                    padding: 0.8rem 0.9rem;
                    background: var(--secondary-font-color);
                    cursor: pointer;
                }
            }
        }

        .section_filters
        {
            display: flex;
            align-items: center;
            color: var(--main-font-color-dark);
            .filters_list
            {
                display: flex;
                justify-content: space-around;
                list-style: none;
                gap: 1.5rem;
                margin-left: 1.5rem;
                .filters_item
                {
                    display: flex;
                    align-items: center;
                    border: 1px solid #ddd;
                    border-radius: 1.25rem;
                    i
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 1.5rem;
                        height: 1.5rem;
                        padding: 1.15rem;
                        background-color: #cde1ff;
                        color: var(--secondary-font-color);
                        border-radius: 100%;
                    }

                    div
                    {
                        padding: 0 0.75rem;
                        font-weight: 600;
                    }
                }
            }
        }

        .info
        {
            display: flex;
            align-items: center;
            margin: 2rem 0;

            i
            {

                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.25rem;
                margin-right: 1rem;
                color: var(--secondary-font-color);
                border: solid 1px #ddd;
                width: 2rem;
                height: 2rem;
                border-radius: 100%;
            }
        }

        .section_accommodations
        {
            display: flex;
            width: 100%;
            margin: 2rem 0;
            gap: 3rem;
            
            .accommodations_container
            {
                width: 60%;
                background-color: #ddd;
                border-radius: 1.5rem;
                padding: 2rem;

                .accommodations_grid
                {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: auto auto;
                    justify-items: center;
                    gap: 1.5rem;
                    margin: 1.5rem 0;

                    .grid_item
                    {
                        width: 100%;
                        height: 20rem;
                        background-color: #fff;
                        border-radius: 1rem;
                        padding: 0.3rem;

                        img
                        {
                            object-fit: cover;
                            width: 100%;
                            height: 60%;
                            border-radius: 0.8rem 0.8rem 0 0;
                        }
                        
                        .details
                        {
                            padding: 0 0.5rem;
                            .price
                            {
                                font-weight: 600;
                            }
                        }

                    }
                }
            }

            .popular_container
            {
                width: 30%;
                background-color: #ddd;
                border-radius: 1.5rem;
                padding: 2rem;
                .popular_list
                {
                    list-style: none;
                }
            }

        }
    }
}