@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root
{
    --main-font-family: 'Raleway', sans-serif;
    --main-font-color: #515151;
    --main-font-color-dark: rgb(38, 38, 38);
    --secondary-font-color: #0065FC;
    --tertiary-font-color: #DEEBFF;
    --background-color: #F2F2F2;
    --h1-font-size: clamp(24px, 2.3vw, 24px);
    --h2-font-size: clamp(18px, 1.75vw, 19.2px);


}

html
{
    font-family: var(--main-font-family);
    font-size: 16px;
    color: var(--main-font-color);
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
    background-color: #fff;

    h1
    {
        font-size: var(--h1-font-size);
        color: var(--main-font-color-dark);
    }
    h2
    {
        font-size: var(--h2-font-size);
        color: var(--main-font-color-dark);
    }

    .main_header
    {
        display: flex;
        justify-content: space-between;
        height: 112px;
        padding:  0 48px;
        

        img
        {
            align-self: center;
            cursor: pointer;
            height: 64px;
        }
        nav
        {
            display: flex;
            justify-content: space-between;
            width: 300px;
            ul
            {
                display: flex;
                justify-content: space-around;
                width: 100%;
                display: flex;
                list-style: none;
                li
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    font-weight: 600;
                    a
                    {
                        color: var(--main-font-color);
                        &:hover
                        {
                            color: var(--secondary-font-color);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 120%;
                            height: 2px;
                            background-color: var(--secondary-font-color);
                            opacity: 0;
                            transition: opacity 0.3s;
                            
                            @media only screen and (max-width: 768px){
                                width: 100%;
                                top: 32px;
                                height: 3px;
                            }
                        }

                        &:hover::after
                        {
                            opacity: 1;
                        }
                        
                        &::before {
                            display: none;
                            content: "";
                            position: absolute;
                            top: 32px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 100%;
                            height: 3px;
                            background-color: var(--background-color);
                            
                            @media only screen and (max-width: 768px){
                                display: block;
                            }
                        }
                    }

                    @media only screen and (max-width: 768px){
                        flex: 1;
                    }
                }
                @media only screen and (max-width: 992px){
                    gap: 30px;
                }

                @media only screen and (max-width: 768px){
                    gap: 0;
                }
            }

            @media only screen and (max-width: 992px){
                width: 250px;
            }
            @media only screen and (max-width: 768px){
                width: 100%;
            }

        }

        @media only screen and (max-width: 992px){
            padding: 0 20px;
        }

        @media only screen and (max-width: 768px){
            height: auto;
            flex-direction: column;
            padding:  24px 0;
            gap: 36px;
            margin-bottom: 20px;
        }

    }

    main
    {
        padding:  0 48px;

        .section_search
        {

            p
            {
                margin-top: 8px;
            }

            .searchbar
            {
                display: flex;
                width: 480px;
                margin: 24px 0;
                border-radius: 19.2px;
                border: 1px solid #F2F2F2;
                .search_icon
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--main-font-color-dark);
                    flex: 1;
                    font-size: 20px;
                    padding: 12.8px 14.4px;
                    border-radius: 19.2px 0 0 19.2px;
                    background-color: #F2F2F2;

                    @media only screen and (max-width: 768px){
                        padding: 16px 18px;
                        border-radius: 16px 0 0 16px;
                    }
                }
                
                form
                {
                    flex: 8;
                    
                    input
                    {
                        width: 100%;
                        padding: 12.8px 14.4px;
                        border: none;
                        color: var(--main-font-color-dark);
                        font-size: 20px;
                        font-weight: 600;
                        outline: none;
                    
                        &::placeholder
                        {
                            font-weight: 100;
                        }

                        @media only screen and (max-width: 768px){
                            padding: 16px 18px;
                        }
                    }
                    
                }


                .search_btn
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    flex: 2;
                    border-radius: 0 19.2px 19.2px 0;
                    padding: 12.8px 14.4px;
                    background: var(--secondary-font-color);
                    cursor: pointer;
                    font-size: 18px;

                    p
                    {
                        margin: 0;

                        @media only screen and (max-width: 768px){
                            display: none;
                        }
                    }

                    i
                    {
                        display: none;

                        @media only screen and (max-width: 768px){
                            display: block;
                        }
                    }

                    @media only screen and (max-width: 768px){
                        border-radius: 16px;
                        flex: 0;
                        padding: 16px 18px;
                    }
                }
                @media only screen and (max-width: 768px){
                    width: 100%;
                    max-width: 373px;
                    margin: 30px 0;
                }

                @media only screen and (max-width: 768px){
                    border-radius: 16px;
                }
            }

            @media only screen and (max-width: 768px){

                padding: 0 20px;
            }
        }

        .section_filters
        {
            display: flex;
            align-items: center;
            color: var(--main-font-color-dark);
            .filters_list
            {
                display: flex;
                list-style: none;
                gap: 24px;
                margin-left: 24px;

                .filters_item
                {
                    display: flex;
                    align-items: center;
                    border: 1px solid #F2F2F2;
                    border-radius: 20px;
                    cursor: pointer;
                    overflow: hidden;

                    &:hover > div::after
                    {
                        transform: translateX(-50%) scale(10);
                    }
                    
                    i
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 24px;
                        height: 24px;
                        padding: 18.4px;
                        background-color: var(--tertiary-font-color);
                        color: var(--secondary-font-color);
                        border-radius: 100%;
                    }

                    div
                    {
                        position: relative;
                        padding: 0 12px;
                        font-weight: 600;

                        &::after
                        {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            width: 20px;
                            height: 20px;
                            border-radius: 100%;
                            left: 50%;
                            transform-origin: center;
                            transform: translateX(-70%) scale(0);
                            background-color: var(--tertiary-font-color);
                            transition: transform 0.2s linear;
                        }


                    }
                }
                @media only screen and (max-width: 992px){
                    justify-content: flex-start;
                    margin: 0;
                    flex-wrap: wrap;
                }
            }
            @media only screen and (max-width: 992px){
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }

            @media only screen and (max-width: 768px){

                padding: 0 20px;
            }
        }

        .info
        {
            display: flex;
            align-items: center;
            margin: 32px 0;
            gap: 16px;

            i
            {
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: flex-start;
                font-size: 20px;
                color: var(--secondary-font-color);
                border: solid 1px #F2F2F2;
                min-width: 32px;
                min-height: 32px;
                border-radius: 100%;

                @media only screen and (max-width: 768px){
                    font-size: 17px;
                    min-width: 27.2px;
                    min-height: 27.2px;
                }
            }

            @media only screen and (max-width: 768px){

                padding: 0 20px;
            }
        }

        #section_accommodations
        {
            display: flex;
            width: 100%;
            height: auto;
            margin: 32px 0;
            gap: 48px;
            flex-wrap: wrap-reverse;
            .accommodations_container
            {
                flex: 2;
                background-color: #F2F2F2;
                border-radius: 24px;
                padding: 32px;

                header 
                {
                    height: auto;
                    padding: 0;
                }

                .accommodations_grid
                {
                    display: flex;
                    flex-direction: column;
                    gap: clamp(20px, 2.1vw, 40px);
                    margin: 24px 0;
                    
                    .row
                    {
                        display: flex;
                        gap: clamp(20px, 2.1vw, 40px);


                        a
                        {
                            flex: 1;
                            color: var(--main-font-color);
                            
                            .grid_item
                            {
                                min-width: 190px;
                                height: 270px;
                                background-color: #fff;
                                border-radius: 24px;
                                padding: 4.8px;
                                box-shadow: 0 5px 20px 2px #e4e4e4;
        
                                img
                                {
                                    object-fit: cover;
                                    width: 100%;
                                    height: 60%;
                                    border-radius: 19.2px 19.2px 0 0;
                                }
                                
                                .details
                                {
                                    position: relative;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;
                                    padding: 0 10px 5px;
                                    height: 40%;
                                    .price
                                    {
                                        font-weight: 600;
                                        color: var(--main-font-color-dark);
                                    }
        
                                    .ratings_container
                                    {
                                        display: flex;
                                        bottom: 16px;
                                        list-style: none;
                                        color: var(--secondary-font-color);
                                    }
                                }
                            }
                        }
                        @media only screen and (max-width: 768px){
                            flex-direction: column;
                        }
                    }

                }
                @media only screen and (max-width: 768px){
                    background-color: #fff;
                    border-radius: 0;
                    padding: 32px 20px;

                }
            }

            .popular_container
            {
                display: flex;
                flex-direction: column;
                flex: 1;
                background-color: #F2F2F2;
                border-radius: 24px;
                padding: 32px;
                .header_container
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    i
                    {
                        font-size: 20px;
                        color: var(--main-font-color-dark);
                    }
                }
                
                .popular_list
                {
                    display: flex;
                    list-style: none;
                    flex-wrap: wrap;
                    flex: 1;
                    gap: clamp(20px, 2.1vw, 40px);
                    margin-top: 24px;

                    .list_item
                    {
                        flex: 1;
                        min-width: 345px;
                        max-width: 600px;
                        border-radius: 24px;
                        background-color: #fff;
                        box-shadow: 0 5px 20px 2px #e4e4e4;
                        padding: 4.8px;
                        overflow: hidden;

                        a
                        {
                            color: var(--main-font-color);

                            article
                            {
                                height: 182px;
                                display: flex;
                                position: relative;

                                img
                                {
                                    object-fit: cover;
                                    width: 40%;
                                    border-radius: 19.2px 0 0 19.2px;
                                }
                                
                                .details
                                {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    padding: 10px 16px;
                                    .title
                                    {
                                        h2
                                        {
                                            margin-bottom: 8px;
                                        }
                                        .price
                                        {
                                            font-weight: 600;
                                            color: var(--main-font-color-dark);
                                        }
                                    }
                
                                    .ratings_container
                                    {
                                        display: flex;
                                        list-style: none;
                                        color: var(--secondary-font-color);
                
                                    }
                                }
                            }


                        }
                        @media only screen and (max-width: 768px){
                            flex: none;
                            width: 100%;
                            min-width: 0;
                        }
                    }

                }

                @media only screen and (max-width: 768px){

                    border-radius: 0;
                    padding: 32px 20px;

                }
            }

            @media only screen and (max-width: 768px){
                flex-direction: column-reverse;
                gap: 0;
            }

        }

        #section_activities
        {
            margin-top: 64px;

            header
            {
                height: auto;
                padding: 0;
            }

            .activities_container
            {                
                display: flex;
                gap: clamp(20px, 2.5vw, 48px);
                list-style: none;
                margin-top: 24px;
                @media only screen and (max-width: 992px){
                    flex-direction: column;
                    gap: 20px;
                }
                .row
                {
                    flex: 1;
                    display: flex;
                    gap: clamp(20px, 2.5vw, 48px);

                    @media only screen and (max-width: 768px){
                        flex-direction: column;
                        gap: 20px;
                    }

                    .item_container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 560px;
                        &:nth-child(2),
                        &:nth-child(4) {
                            gap: clamp(20px, 2.5vw, 48px);
    
                            .small
                            {
                                flex: 4;
                            }
                        
                            .large
                            {
                                flex: 5;
                            }
    
                            .small, .large
                            {
                                @media only screen and (max-width: 768px){
                                    flex: 1;
                                }
                            }
    
                            @media only screen and (max-width: 768px){
                                height: 520px;
                                gap: 20px;
                            }
                        }      
              
                        a
                        {
                            color: var(--main-font-color);
                            flex: 1;
                            
                            .list_item
                            {
                                display: flex;
                                flex-direction: column;
                                height: 100%;
                                box-shadow: 0 5px 20px 2px #e4e4e4;
                                border-radius: 24px;
                            
                                .image_container
                                {
                                    position: relative;
                                    flex: 1;
                                    img
                                    {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        border-radius: 24px 24px 0 0;
                                    }
                                }
        
                                header
                                {
                                  display: flex;
                                  align-items: center;
                                  height: 64px;
                                  padding: 0 20px;
                                }
                            }
                        }
                        @media only screen and (max-width: 768px){
                            height: 250px;
                        }
                    }
                }


            }
            @media only screen and (max-width: 768px){

                padding: 0 20px;
                margin-top: 32px;
            }
        }
        
        @media only screen and (max-width: 992px){
            padding: 0 20px;
        }

        @media only screen and (max-width: 768px){

            padding: 0;
        }
    }

    footer
    {
        display: flex;
        margin-top: 64px;
        padding: 48px;
        background-color: #F2F2F2;

        ul
        {
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex: 1;
            list-style: none;

            h2
            {
                margin-bottom: 8px;
            }

        }

        @media only screen and (max-width: 992px){
            padding: 48px 24px;
            gap: 15%;
        }

        @media only screen and (max-width: 768px){
            flex-direction: column;
            gap: 40px;
        }
    }
}